<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Welcome to Microsoft Azure</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>

    <div class='container-fluid'>
      <h1 class="text-center">Node.js application on AWS</h1>
      <div class="row">
        <section class="col-xs-12 col-sm-6 offset-sm-3 col-md-6 offset-md-3 text-center">
          <h2>You did it!</h2>
          <p>My first nodejs app live :)/p>
        </section>
      </div>

    </div>
  </body>
</html>
